.home-section {
    position: relative;
}

.home-section-container {
    width: 100%;
}

.background-image-container {
    width: 100%;
    height: calc(100vh - 150px);
    background-image: url('../assets/BackgroundImage.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #161d22c8;
    
    padding: 25px;
    border: 1px solid white;
}

.background-text-container h1 {
    display: flex;
    /* flex-wrap: wrap; */
    font-size: 80px;
}

.fight {
    color: rgb(244, 53, 53);
}

.compete {
    color: rgb(248, 248, 87);
    margin-inline: 20px;
}

.conquer {
    color: white;
}

/* Follow section  */

.follow-section {
    background-color: #ec321d;
    /* height: 50px; */
    padding-block: 18px;
}

.follow-section-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 15px;
}

.about-link {
    font-size: 20px;
    color: black;
    font-weight: 600;
    text-decoration: none;
}

.socials-container ul {
    font-size: 32px;

    display: flex;
    /* justify-content: space-between; */
    list-style: none;
    gap: 20px;


}

.socials-container ul li {
    animation-name: socialsAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.socials-container ul li a {
    color: black;
    border: 1ps solid black;
}






/* Supported Games */
.supported-games {
    background-color: #161d22;
    padding-block: 100px;
}

.games {
    margin: 0 auto;
    max-width: 1200px;
    /* background-color: antiquewhite; */

}

.games-text {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.games-text h1 {
    font-size: 42px;
    text-align: center;
    /* align-self: center; */
    color: white;
    line-height: 49px;
    /* text-decoration: underline; */
    border-bottom: 2px solid white;
    margin-bottom: 10px;
}

.games p {
    font-size: 24px;
    text-align: center;
    color: white;
    line-height: 36px;
}

.supported-card-container {
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}





/* Featured Tournaments */
.featured-tournaments {
    background-color: #14191d;
    padding-block: 100px;
}

.featured-tournaments-container {
    max-width: 1200px;
    margin: 0 auto;

    /* background-color: antiquewhite; */

}

.featured-text {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured-text h1 {
    font-size: 42px;
    text-align: center;
    /* align-self: center; */
    color: white;
    line-height: 49px;
    /* text-decoration: underline; */
    border-bottom: 2px solid white;
    margin-bottom: 10px;
}

.featured-text p {
    font-size: 24px;
    text-align: center;
    color: white;
    line-height: 36px;
}

.featured-card-container {
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}











/* Animation Keyframes */
@keyframes socialsAnimation {
    0% {
        transform: translateY(0);
    }

    33% {
        transform: translateY(-8px);

    }

    66% {
        transform: translateY(8px);
    }

    100% {
        transform: translateY(0);
    }
}